.menu__item {
  width: 100%;
  margin: 15px 0;
  display: flex;
  flex-direction: column;
}
.menu__item-container {
  display: flex;
  align-items: center;
}

.menu__item .menu__item-name {
  color: var(--color-golden);
  flex: 1;
}
.menu__item-price {
  color: var(--color-white);
  width: 3.5rem;
  flex-shrink: 0;
}
.menu__item .menu__item-tags {
  color: var(--color-grey);
  margin-top: 3px;
}
.menu__item-dash {
  width: 50px;
  height: 1px;
  background-color: var(--color-golden);
  margin: 0 15px;
}
