.app__header {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color-black);
}

.app__header-column {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.app__header-h1 {
  font-family: var(--font-base);
  color: var(--color-golden);
  line-height: 7.3rem;
  font-size: 5.6rem;
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}
.app__header-description {
  margin: 30px 0;
}

.app__header-img {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}
.app__header-img img {
  width: 80%;
}
