.p-opensans {
  font-family: var(--font-alt);
  color: var(--color-white);
  font-weight: 400;
  letter-spacing: 0.04em;
  line-height: 1.75rem;
  font-size: 1rem;
}

.p-cormorant {
  font-family: var(--font-base);
  color: var(--color-white);
  font-weight: 700;
  letter-spacing: 0.04em;
  font-feature-settings: "tnum" on, "lnum" on;
  line-height: 1.85rem;
  font-size: 1.45rem;
}
.p-headtext {
  font-family: var(--font-base);
  color: var(--color-golden);
  font-size: 4rem;
  line-height: 5.2rem;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}

.section {
  min-height: 100vh;
}

.section-padding {
  padding: 60px 100px;
}

.section-bg {
  background: url("./assets/bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
}

.custom-button {
  background-color: var(--color-crimson);
  color: var(--color-black);
  font-family: var(--font-base);
  font-weight: 700;
  letter-spacing: 0.04em;
  line-height: 28px;
  font-size: 16px;
  padding: 8px 24px;
  border-radius: 1px;
  text-transform: capitalize;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.2s ease;
}
.custom-button:hover {
  background-color: var(--color-golden);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spoon-img {
  width: 45px;
}

@media screen and (min-width: 2000px) {
  .custom-button,
  .p-cormorant {
    font-size: 2.3rem;
    line-height: 4.2rem;
  }

  .p-opensans {
    font-size: 1.9rem;
    line-height: 3.1rem;
  }

  .p-headtext {
    font-size: 9.4rem;
    line-height: 13.1rem;
  }

  .spoon__img {
    width: 80px;
  }
}

@media screen and (max-width: 1150px) {
  /* .app__wrapper {
    flex-direction: column;
  }

  .app__wrapper_img {
    margin: 5rem 0 0 0;
  }

  .app__wrapper_img-reverse {
    margin: 0 0 5rem 0;
  }

  .app__wrapper_img img {
    width: 100%;
  } */
}

@media screen and (max-width: 850px) {
  .section-padding {
    padding: 60px;
  }
}

@media screen and (max-width: 650px) {
  .section-padding {
    padding: 60px 30px;
  }

  .p-cormorant {
    font-size: 1.31rem;
  }

  .p-opensans {
    font-size: 0.875rem;
  }
}

@media screen and (max-width: 450px) {
  .p-opensans {
    font-size: 0.75rem;
  }

  .p-cormorant {
    font-size: 1.2rem;
  }

  .p-headtext {
    font-size: 2.8rem;
    line-height: 4.4rem;
  }
}
